﻿@{
    ViewData["Title"] = "Home Page";
}
@model List<Blog>
<h2>All Blogs!</h2>
<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Creator</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date Posted</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var blog in Model)
    {
        <tr>
            <td>@blog.Creator.FirstName</td>
            <td>@blog.Title</td>
            <td>@blog.Content</td>
            <td>@blog.CreatedAt</td>
        </tr>
    }
    </tbody>
</table>