@model Blog
<h2>Blog #@Model.BlogId</h2>
<hr>
<h1>@Model.Title</h1>
<p>@Model.Content</p>
<hr>
<h3>Details:</h3>
<h4><strong>Author: </strong> @Model.Creator.FirstName @Model.Creator.LastName</h4>
<h4><strong>Date: </strong> @Model.CreatedAt</h4>
<hr>
<h4>Other Posts by this Author:</h4>
<ul>
    @foreach(var blog in Model.Creator.CreatedBlogs.Where(b => b.BlogId != Model.BlogId))
    {
        <a href="/@blog.BlogId">@blog.Title</a>
    }
</ul>